<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>AdFluencer</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/Logo_1.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/Logo_1.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
    <div class="wrap">

        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <div class="logo">
                    <h1 class="text-light"><a href="{{url_for('views.infl_dashboard')}}"><span>AdFluencer</span></a>
                    </h1>
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto " href="{{url_for('views.infl_dashboard')}}">Home</a></li>
                        <li><a class="nav-link scrollto " href="#portfolio">Your Applications</a></li>
                        <li><a href="{{url_for('views.logout')}}">Logout</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->
        <style>
            .content-section {
                padding-top: 10px;
                margin-left: 30px;
                padding-bottom: 30px;
            }
            #breadcrumbs{
                padding-top: 90px;
            }
        </style>
        <main id="main">
            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs" data-aos="fade-up">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>My Profile </h2>
                        <ol>
                            <li><a href="{{url_for('views.infl_dashboard')}}">Home</a></li>
                            <li><a href="{{url_for('views.my_profile')}}">My Profile</a></li>
                            <!-- <li>Product Details</li> -->
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->
            <div class="content-section">
                <div class="col-md-8">
                    <legend class="border-bottom mb-4">Account Info</legend>
                    <form name='advertisements' enctype=multipart/form-data method="POST" onsubmit="return validate()">                        
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Your first name</label>
                            <input type="text" class="form-control" name="comp_name" id="exampleFormControlInput1"
                                placeholder="{{user.fname }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Your last name</label>
                            <input type="text" class="form-control" name="comp_name" id="exampleFormControlInput1"
                                placeholder="{{ user.lname }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
                                placeholder="{{ user.inf_email }}"  disabled>
                        </div>
                        
                        <div class="col-12">
                            <!-- <button type="submit" class="btn btn-primary">Save and Update</button> -->

                            <!-- <button type="button" class="btn btn-danger">Cancel</button> -->
                        </div>
                    </form>
                </div>
            </div>
            <section id="portfolio" class="portfolio section-bg">
                <div class="container">

                    <div class="section-title" data-aos="fade-down">
                        <span>Your Applications</span>
                        <h2>Your Applications</h2>
                        {% if advta_apl|length==0 %}
                        <p>Not applied for any advertisements yet!</p>
                        {% else %}
                        <p>Advertisements you applied for</p>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="150">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-approved">Approved</li>
                                <li data-filter=".filter-applied">Applied for</li>                                
                            </ul>
                        </div>
                    </div>

                    {% for adv in advts|batch(3)  %}
                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
                        {% for advt in adv %}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-{{advt.filter}}">
                            <div class="portfolio-wrap">
                                <img src="{{ url_for('static', filename = 'uploads/'+advt.advt_name) }}" class="img-fluid"
                                    alt="{{ advt.advt_name }}">
                                <div class="portfolio-info">
                                    <h4>{{ advt.advt_brand }}</h4>
                                    <p>{{ advt.owner_name }}</p>
                                </div>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static', filename = 'uploads/'+advt.advt_name) }}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox"
                                        title="{{advt.brand}}"><i class="bx bx-plus"></i></a>
                                    <a href="{{url_for('views.my_portfolio_details', advt_id= advt.id)}}"
                                        title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
            </section>
        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>AdFluencer</h3>
                            <p>
                                1st Floor, Lok Centre Premises Co-op Society Ltd Above ICICI Bank, Marol Maroshi Rd,
                                Marol, Andheri East, Mumbai <br><br>
                                <strong>Phone:</strong> +91 858846718<br>
                                <strong>Email:</strong> contact@adfluencer.com<br>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Social Networks</h4>

                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="github"><i class="bx bxl-github"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>AdFluencer</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->

    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>