<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>AdFluencer</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/Logo_1.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/Logo_1.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

    <!-- Including jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
    </script>

    <!-- Including Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
</head>

<body>
    <div class="wrap">

        <!-- ======= Hero Section ======= -->
        <section id="hero">
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <script type="text/javascript">
                setTimeout(function () {

                    // Closing the alert
                    $('.alert').alert('close');
                }, 3000);
            </script>
            <div class="hero-container" data-aos="fade-up">
                <h1>Welcome <br><span>{{name}}</span></h1>
                <a href="#clients" class="btn-get-started scrollto">Get Started</a>
            </div>
        </section><!-- End Hero -->

        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <div class="logo">
                    <h1 class="text-light"><a href="{{url_for('views.infl_dashboard')}}"><span>AdFluencer</span></a>
                    </h1>
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="{{url_for('views.my_profile')}}">My Profile</a></li>
                        <li><a class="nav-link scrollto " href="#portfolio">Advertisements</a></li>
                        <li><a class="nav-link scrollto " href="#faq">FAQ</a></li>
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                        <li><a href="{{url_for('views.logout')}}">Logout</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->

        <main id="main">

            <!-- ======= Clients Section ======= -->
            <section id="clients" class="clients">
                <div class="container">

                    <div class="row">

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="../static/img/clients/coin.png" class="img-fluid" alt="" data-aos="zoom-in">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="../static/img/clients/coinswitch.jfif" class="img-fluid" alt="" data-aos="zoom-in"
                                data-aos-delay="100">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="../static/img/clients/flo.png" class="img-fluid" alt="" data-aos="zoom-in"
                                data-aos-delay="200">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="../static/img/clients/labdoor.png" class="img-fluid" alt="" data-aos="zoom-in"
                                data-aos-delay="300">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="../static/img/clients/mama earth.png" class="img-fluid" alt="" data-aos="zoom-in"
                                data-aos-delay="400">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="../static/img/clients/wow.png" class="img-fluid" alt="" data-aos="zoom-in"
                                data-aos-delay="500">
                        </div>

                    </div>

                </div>
            </section><!-- End Clients Section -->

            <!-- ======= Portfolio Section ======= -->
            <section id="portfolio" class="portfolio section-bg">
                <div class="container">

                    <div class="section-title" data-aos="fade-down">
                        <span>Advertisements</span>
                        <h2>Advertisements</h2>
                        {% if advts|length ==0 %}
                        <p>No advertisements to display</p>
                        {% else %}
                        <p>Apply to promote the product after checking the product description !!</p>
                        {% endif %}
                    </div>

                    {% for adv in advts|batch(3)  %}
                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
                        {% for advt in adv %}
                        <div class="col-lg-4 col-md-6 portfolio-item ">
                            <div class="portfolio-wrap">
                                <img src="{{ url_for('static', filename = 'uploads/'+advt.name) }}" class="img-fluid"
                                    alt="{{ advt.name }}">
                                <div class="portfolio-info">
                                    <h4>{{ advt.brand }}</h4>
                                    <p>{{ advt.comp_name }}</p>
                                </div>
                                <div class="portfolio-links">
                                    <a href="{{ url_for('static', filename = 'uploads/'+advt.name) }}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox"
                                        title="{{advt.brand}}"><i class="bx bx-plus"></i></a>
                                    <a href="{{url_for('views.portfolio_details', advt_id= advt.id)}}"
                                        title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
            </section><!-- End Portfolio Section -->

            <!-- ======= Testimonials Section ======= -->
            <section id="testimonials" class="testimonials">
                <div class="container position-relative">

                    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="../static/img/testimonials/ash.jfif" class="testimonial-img" alt="">
                                    <h3>Ashish Chanchlani</h3>
                                    <h4>Youtube &amp; Content Creator</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Content for youth
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="../static/img/testimonials/bhuv.jfif" class="testimonial-img" alt="">
                                    <h3>Bhuvan Bam</h3>
                                    <h4>Youtube creator</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        youngest content creator One man army
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="../static/img/testimonials/praj.jfif" class="testimonial-img" alt="">
                                    <h3>Prajakta koli</h3>
                                    <h4>Youtube Creator</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Successful Solopreneur in young age
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="../static/img/testimonials/nisha.jfif" class="testimonial-img" alt="">
                                    <h3>Nisha Madhulika</h3>
                                    <h4>Indian chef & Youtuber </h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        First Succesful Indian Food channel
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <img src="../static/img/testimonials/gau.jfif" class="testimonial-img" alt="">
                                    <h3>Gaurav Taneja</h3>
                                    <h4>Vlogger</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Daily Vlogger on youtube
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </section><!-- End Testimonials Section -->

            <!-- ======= F.A.Q Section ======= -->
            <section id="faq" class="faq">
                <div class="container">

                    <div class="section-title" data-aos="fade-down">
                        <span>F.A.Q</span>
                        <h2>F.A.Q</h2>
                        <p>Frequently Asked Questions</p>
                    </div>

                    <div class="faq-list">
                        <ul>
                            <li data-aos="fade-up">
                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                    class="collapse" data-bs-target="#faq-list-1">How will i know Advertiser has
                                    accepted my interest?<i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                    <p>
                                        Advertisement will be shown in your dashboard.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                    data-bs-target="#faq-list-2" class="collapsed">when will i get Advertisements
                                    oppurtunities?<i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        Advertisements will Be updated to you on weekly basis.
                                    </p>
                                </div>
                            </li>



                        </ul>
                    </div>

                </div>
            </section><!-- End F.A.Q Section -->

            <!-- ======= Contact Us Section ======= -->
            <section id="contact" class="contact">
                <div class="container">

                    <div class="section-title" data-aos="fade-down">
                        <span>Contact Us</span>
                        <h2>Contact Us</h2>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>FCRIT Vashi</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>AdfluencerAd.com<br>FluentlyAd.com</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+91 986521493<br>+91 865296415</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- End Contact Us Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>AdFluencer</h3>
                            <p>
                                1st Floor, Lok Centre Premises Co-op Society Ltd Above ICICI Bank, Marol Maroshi Rd,
                                Marol, Andheri East, Mumbai <br><br>
                                <strong>Phone:</strong> +91 858846718<br>
                                <strong>Email:</strong> contact@adfluencer.com<br>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            
                        </div>


                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Social Networks</h4>

                            <div class="social-links mt-3">
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>AdFluencer</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->

    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>